---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Serif', serif;
//$base-font-family: 'Roboto', sans-serif;
$header-font-family: 'Roboto Slab', serif;
$header-font-size: 34px;
$base-font-size:   16px;
$base-font-weight: 200;
$code-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;
$big-font-size:    24px;
$medium-font-size: $big-font-size * 0.9;

$spacing-unit:     30px;
$text-padding:     14px;
 
$text-color:        #000;
$text-background:   #fff;
$background-color:  #fff;
$title-color:       #000;

$grey-color:       #aaaaaa;
$grey-color-light: lighten($grey-color, 10%);
$grey-color-very-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
